.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-color: #000;
  .logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
      img{
        height: 150px;
        width: 350px;
      }
  }
}